.headerContainer {
    border: 3px double #050505;
    width: 100%;
    height: auto;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .mainHeader {
        font-size: var(--font-size-8);
        font-family: var(--font-mono);
    
        margin-bottom: 1em;
}